/* PC、スマホ共通スタイル */
* {
  box-sizing: border-box;
}

body {
  max-width: 1080px;
  margin: 0 auto;
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
  font-size: 15px;
}

/* ヘッダー */
header {
  display: flex;
  justify-content: space-between;
}

/* ナビゲーションのレイアウト */
#nav-pc {
  text-align: right;
  font-size: 14px;
  padding-top: 15px;
}

/* ナビゲーションのリンクの装飾設定 */
#nav-pc ul {
  display: flex;
  padding-left: 0;
}

#nav-pc li {
  list-style: none;
  margin-left: 20px;
}

#nav-pc a {
  text-decoration: none;
  color: #04414A;
}

#nav-pc a:hover {
  text-decoration: underline;
}

/* メインビジュアル */
#main-visual {
  position: relative;
  height: 400px;
}

#main-message {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #04414A;
  color: #ffffff;
  border-radius: 0 0 150px 0;
  width: 100%;
  height: 100%;
  max-width: 620px;
  z-index: 11;
}

#main-message h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 100px 0 0 50px;
}

#main-message p {
  font-size: 28px;
  margin: 0 0 0 50px;
}

#main-visual img {
  max-width: 600px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

/* 見出し */
h2 {
  margin-top: 40px 0 0 0;
}

h2::after {
  content: url("images/line.png")
  margin-left: 10px;
}

h3 {
  font-size: 27px;
}


/* コンセプト */
#concept {
  margin: 80px auto 80px auto;
  padding: 10px 40px 0 40px;
}

#concept-flex {
  display: flex;
  text-align: center;
}

#concept-flex div {
  width: 50%;
  margin: 20px;
}

.concept-photo {
  width: 80%;
}

/* プロダクト */
#product {
  background-color: #fafafa;
  margin: 20px 0 80px 0;
  padding: 10px 40px 0 40px;
}

/* 外枠 */
#product > div {
  margin-top: 40px;
  display: flex;
}

/* 左 */
.product-left {
  width: 50%;
  margin: 0 20px 0 0;
}
/* 右 */
.product-right {
  width: 50%;
  margin: 80px 0px 0 20px;
}

/* 画像＋説明枠 */
.product-left > div {
  position: relative;
  height: 480px;
  margin: 0 20px 0 0;
}

.product-right > div {
  position: relative;
  height: 480px;
  margin: 0 0 0 20px;
}

/* 画像 */
.product-photo {
  width: 100%;
}

/* 説明文枠 */
.product-explain {
  background-color: #ffffff;
  position: absolute;
  bottom: 50px;
  margin: 0 40px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

/* 説明文英語 */
.product-explain > span {
  color: #04414A;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

/* 説明文見出し */
.product-explain > h3 {
  margin: 5px 0;
}

/* 説明文 */
.product-explain > p {
  margin: 0;
}

/* 会社概要 */
#company {
  margin: 80px auto;
  padding: 10px 40px 0 40px;
}

#company-table {
  width: 100%;
}

.tableheader {
  text-align: left;
  padding: 20px;
  border-bottom-color: #04414A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  width: 100px;
}

.tableheader-first {
  border-top-color: #04414A;
  border-top-width: 1px;
  border-top-style: solid;
}

.cell {
  padding: 30px;
  border-bottom-color: #ececec;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.cell-first {
  border-top-color: #ececec;
  border-top-width: 1px;
  border-top-style: solid;
}

/* フッター */
footer {
  background-color: #04414A;
  text-align: center;
  padding: 80px 80px 30px 80px;
}

#footer-logo {
  margin: 30px;
}

#footer-link {
  margin-bottom: 50px;
}

#footer-link a {
  text-decoration: none;
  margin: 10px;
  color: #ffffff;
}

#footer-link a:hover {
  text-decoration: underline;
}


/* snsフッター */
#sns-footer {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

#sns-footer a {
  margin: 10px;
}

#copyright {
  color: #ffffff;
  margin: 0;
}